.container {
    width: 1056px;
	margin: auto;
}
.section{
	padding: 20px 0;
}
.section1 > div {
	background-position: center;
    min-height : 200px;
    width: 100%;
}
.navbar-nav li {
  padding: 10px 30px;
}
.navbar-bg {
  background-color: #3180d6;
  padding: 0 10em 0 10;
}
.logo-navtop {
  font-size: 2em;
  letter-spacing: 2px;
}
.text-yellow {
  background-color: #ec9700;
  width: 100px;
  border-radius: 50%;
  color: black;
  padding: 10px 20px;
  text-align: center;
  font-weight: bolder;
  font-size: small;
  border-radius: 16px;
}
.recruit-bg {
  background-color: #2065c5;
  background-image: url('../img/bg_gedung.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.recruit_1 {
  height: 20vh;
}
.recruit_2 {
  height: 20vh;
}
.recruit_img {
  height: 50vh;
  margin-right: -15px;
}
.recruit-title {
  font-size: 6em;
  top: 50px;
  left: 200px;
}
.recruit-content {
  position: absolute;
  top: 545vh;
  height: 25vh;
}
.recruit-btn-l {
  width: 400px;
  position: absolute;
  right: 0;
}
.recruit-btn-r {
  width: 400px;
  position: absolute;
}
.work-bg {
  background-color: #ec9700;
  background-image: url('../img/bg_oren2.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.work_1 {
  height: 20vh;
}
.work_2 {
  height: 20vh;
}
.work_yellow {
  height: 60vh;
}
.work-title {
  font-size: 6em;
  top: 50px;
  left: 250px;
}
.work-content {
  position: absolute;
  top: 440vh;
  height: 70vh;
}
.work-1 {
  background-image: url('../img/img_orang3.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 253px;
  width: 550px;
}
.work-2 {
  background-image: url('../img/img_orang4.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 50px;
  height: 250px;
  width: 550px;
}
.work-btn {
  height: 3em; 
  position: relative;
  bottom: 50px;
}
.company-bg {
  background-color: #2065c5;
  background-image: url('../img/bg_biru1.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.company-title {
  font-size: 6em;
  top: 50px;
  right: 200px;
}
.company-title::before {
  font-size: small;
  content: "〇〇〇について";
  letter-spacing: normal;
  width: auto;
  height: 10px;
  position: absolute;
  top: -5px;
  right: 0;
}
.company_1 {
  height: 20vh;
}
.company_2 {
  height: 20vh;
}
.company_blue {
  height: 60vh;
}
.company-content {
  position: absolute;
  top: 345vh;
  height: 25vh;
}
.company-1 {
  background-image: url('../img/img_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  width: 430px;
}
.company-2 {
  background-image: url('../img/img_gedung.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 30px;
  height: 300px;
  width: 430px;
}
.company-3 {
  background-image: url('../img/img_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 50px;
  height: 300px;
  width: 430px;
}
.company-btn {
  height: 3em; 
  position: relative;
  bottom: 48px;
}
.sectitle {
  z-index: 10;
  font-weight: 700;
  letter-spacing: 3px;
  position: absolute;
}
.special-contents-bg {
  background-color: #ec9700;
  background-image: url('../img/bg_oren1.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.special_contents_1 {
  height: 20vh;
}
.special_contents_2 {
  height: 20vh;
}
.special_contents_yellow {
  height: 60vh;
}
.special-contents-title{
  font-size: 6em;
  top: 50px;
  left: 250px;
}
.special-contents {
  position: absolute;
  top: 230vh;
  height: 70vh;
}
.special-contents-1 {
  background-image: url('../img/img_orang1.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  width: 580px;
}
.special-contents-2 {
  background-image: url('../img/img_orang2.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 50px;
  height: 400px;
  width: 580px;
}
.special-contents-1::after {
  font-size: small;
  color: #999;
  content: "- 〇〇〇の賃貸が伸びている理由とは？";
  height: 10px;
  position: relative;
  top: 400px; 
  left: 350px;
}
.special-contents-2::after {
  font-size: small;
  color: #999;
  content: "- 社員が語る地域での働き方";
  height: 10px;
  position: relative;
  top: 400px; 
  left: 415px;
}
.special-contents-btn {
  height: 3em; 
  position: relative;
  bottom: 48px;
}  
.specials-title::before {
  font-size: small;
  content: "〇〇〇 スペシャルコンテンツ";
  letter-spacing: normal;
  width: auto;
  height: 10px;
  position: absolute;
  top: -10px
}
.map-content {
  position: absolute; 
  top: 115vh;
}
.map-bg {
  background-color: white;
  background-image: url('../img/bg_map.png');
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
}
.map-wrapper {
  height: 75vh;
}
.maptext {
  line-height: 3.5;
  font-size: smaller;
  letter-spacing: 3px;
  font-weight: normal;
  writing-mode: vertical-rl;
  font-weight: 500;
}
.title {
  vertical-align: top;
  background-color: #ec9700;
  margin-top: -1em;
  font-weight: 900;
  font-size: x-large;
}
.subtitle {
  vertical-align: top;
  background-color: #ec9700;
  font-weight: 900;
  font-size: large;
}
.carousel-item {
  height: 100vh;
}
.copyright-bg {
  background-color: #1f5bad;
  color: #fff;
}
.footer-bg {
  background-color: #2065c5;
  color: #fff;
}
.section8 > div {
    margin:row;
    font-size: 20px;
}
footer, footer a {
    color: white;
}
footer {
    display: block;
    overflow: hidden;
    background-color: #1d65ff;
}
footer a:hover {
    color: #00326b;
}
footer .container > ul {
    overflow: hidden;
    margin: 30px 0;
    padding-left: 0;
}
footer .container > ul li {
    float: left;
    padding-right: 25px;
}
footer .item h4 {
    margin-bottom: 20px
}
footer .item p.address {
    line-height: 1.2;
    font-size: 16px;
}
footer .item ul {
    padding-left: 0;
}
footer .item ul li {
    margin-bottom: 3px;
    font-size: 16px;
}
footer .date p {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 300;
}
footer .item form {
    overflow: hidden;
}
footer .item form input {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
}
footer .copyright {
    background-color: #59355b;
    padding: 15px 0;
}
footer .copyright p {
    margin-bottom: 0;
    font-size: 16px;
}