.button {
    background-color: #ffc250;
    border: none;
    color: black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 1px 1px;
  }

.button1 {
    border-radius: 0%;
}

.button2 {
    position: center;
    border-radius: 35%;
}

.container {
    width: 1056px;
	margin: auto;
}

.section{
	padding: 20px 0;
}
.section1 > div {
	background-position: center;
    min-height : 200px;
    width: 100%;
}

.carousel {
	position: right;
}

.section2 {
    background-color: darkgreen;
}

.section8 > div {
    margin:row;
    font-size: 20px;
}

html {
    scroll-behavior:smooth;
}

.ignielToTop {
    width:50px; 
    height:50px; 
    position:fixed; 
    bottom:50px; 
    right: 50px; 
    z-index:99; 
    cursor:pointer; 
    border-radius:100px; 
    transition:all .5s; 
}

.ignielToTop:hover {
    background:#1d2129 
}

footer, footer a {
    color: white;
}

footer {
    display: block;
    overflow: hidden;
    background-color: #1d65ff;
}

footer a:hover {
    color: #00326b;
}

footer .container > ul {
    overflow: hidden;
    margin: 30px 0;
    padding-left: 0;
}

footer .container > ul li {
    float: left;
    padding-right: 25px;
}

footer .item h4 {
    margin-bottom: 20px
}

footer .item p.address {
    line-height: 1.2;
    font-size: 16px;
}

footer .item ul {
    padding-left: 0;
}

footer .item ul li {
    margin-bottom: 3px;
    font-size: 16px;
}

footer .date p {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 300;
}

footer .item form {
    overflow: hidden;
}

footer .item form input {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
}

footer .item form input[type="submit"] {
    width: 100px;
    height: 40px;
    line-height: 4px;
    background-color: #ef44f8;
    border: none;
    float: right;
    color: #FFF;
    padding: 0
}

footer .copyright {
    background-color: #59355b;
    padding: 15px 0;
}

footer .copyright p {
    margin-bottom: 0;
    font-size: 16px;
}